<input type="file" class="file-input" style="visibility: hidden;"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
    
</div>

<pdf-viewer *ngIf="(pdfService.currentPdf() | blobToInt8array) as pdf else noData" 
    [src]="{ data: pdf }"
    [render-text]="true"
    [original-size]="false"
    style="width: 850px; height: 1100px"
    (click)="addOnClick($event)"
></pdf-viewer>

<ng-template #noData>
    <p class="my-4">No Data&hellip;</p>
</ng-template>
