<div style="content: ''; display: table; clear: both;">

    <div style="float: left; width: 66.66%; padding: 15px;">

        <input type="file" class="file-input" style="visibility: hidden;"
            (change)="onFileSelected($event)" #fileUpload />

        <div class="file-upload">

            <button mat-mini-fab color="primary" class="upload-btn"
            (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
            
        </div>

        <pdf-viewer *ngIf="(pdfService.currentPdf() | blobToInt8array) as pdf else noData" 
            [src]="{ data: pdf }"
            [render-text]="true"
            [original-size]="false"
            style="width: 425px; height: 550px"
            (click)="addOnClick($event)"
        ></pdf-viewer>

    </div>

    <div style="float: left; width: 33.33%; padding: 15px;">

        <button mat-mini-fab color="primary" class="upload-btn"
              (click)="regressCoordinates()">
              <mat-icon>science</mat-icon>
        </button>
      
      <app-coordinate-table />
    
    </div>

</div>

<ng-template #noData>
    <p class="my-4">No Data&hellip;</p>
</ng-template>
